body, html {
  height: 100%;
}
.leftside, .rightside {
    height: 100vh;
    width: 100%;
    background: red;
}

.leftside {
    background: #121212;
}

.rightside {
    background: #DFDFDF;
}

/* Modify the background color */

.btn:active {}

.btn:hover {
    background-color: #e7e7e7;
    color: #121212 !important;
}

.btn:focus {
    /*formatting goes here*/
}

.navbar {
    padding-top: 2rem;
    padding-left: 4.5rem;
    padding-right: 4.5rem;
}

#resume {
    display: none;
    
}
.container-resume{
    height:90%;
}
